.design{
    background-color: var(--color-third);
    height: 100vh;
}
.designIner{
    width: 100%;
    height: 100%;
    background-color: #ffffff2b;
    border-radius: 1rem;
}
.da{
    font-size: 2.4rem;
    color: var(--color-white);
    font-style: italic;
}

.excelUpload{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff99;
    z-index: 100;  
}

.fileup{
    background-color: var(--color-third);
    border-radius: 1rem;
}
.filledData{
    background-color: var(--color-second);
    border-radius: 1rem;
}

.closebtn{
    border: none;
    background: none;
    cursor: pointer;
}

.removebtn{
    position: fixed;
    right: 2.5%;
    bottom: 5%;
    padding: 1rem 4rem;
    border-radius: 1rem;
    font-family: 'DM Sans';
    font-size: 1.8rem;
    background-color: var(--color-white);
    color: var(--color-third);
    cursor: pointer;
}